# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/

# Build / dist
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data & artifacts (НЕ коммитим Kaggle датасет и модель)
data/
backend/artifacts/
*.joblib
*.pkl

# Logs
*.log
